* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

* body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

* body .mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 5px;
}

@media screen and (max-height: 850px) {
  * body .mobile-menu {
    display: block;
  }
}

* body .mobile-menu div {
  width: 35px;
  height: 35px;
  padding-top: 5px;
  margin: 5px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

* body .mobile-menu div i {
  font-size: 26px;
  color: #333;
}

* body header {
  width: 100vw;
  max-width: 1300px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

* body header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body header .header-buttons i {
  margin-right: 5px;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body header .header-buttons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body header .header-buttons button {
  padding: 2px 5px;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 12px;
  background-color: #ffebcd;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body header .header-buttons button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body header .solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #888;
}

@media screen and (max-height: 850px) {
  * body header {
    display: none;
  }
}

* body .rules {
  /* display: none; */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .rules div {
  padding: 15px;
  margin: 10px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

* body .rules div i {
  position: absolute;
  font-size: 30px;
  color: #666;
  top: 5px;
  right: 5px;
}

* body .rules div h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

* body .rules div p {
  font-size: 14px;
  margin-bottom: 7px;
  text-align: left;
  color: #333;
}

* body .rules div h3 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
  color: #333;
}

* body .board {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffebcd;
}

* body .board .grid {
  max-width: 380px;
  padding: 20px 28px;
  background-color: #9C7160;
  border-radius: 18px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

* body .board .grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

* body .board .grid .row:nth-child(10) div {
  border: none;
}

* body .board .grid .row .slots {
  padding: 10px 0px;
  border-bottom: 5px solid #89594B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body .board .grid .row .slots div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 3px;
  position: relative;
  cursor: pointer;
  background-color: #89594B;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  /* background: radial-gradient(circle at 10px 10px, rgba(255, 255, 255, 0.123), rgba(0, 0, 0, 0.123)); */
}

* body .board .grid .row .slots div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body .board .grid .row .evaluation {
  width: 50px;
  padding: 13px 0;
  border-bottom: 5px solid #89594B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body .board .grid .row .evaluation div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  background-color: #89594B;
  background: radial-gradient(circle at 10px 10px, rgba(255, 255, 255, 0.123), rgba(0, 0, 0, 0.123));
}

* body .board .grid .row .evaluation .correct {
  background-color: #262626;
}

* body .board .grid .row .evaluation .included {
  background-color: #EFEFEF;
}

* body .board .grid .row button {
  width: 20px;
  height: 20px;
  padding-top: 1px;
  border: none;
  border-radius: 50%;
  margin-left: 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  background-color: #6CAB3F;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body .board .grid .row button:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body .board .grid .row button i {
  font-size: 12px;
  color: #EFEFEF;
}

* body .board .grid .row .picker {
  width: 200px;
  border-radius: 8px;
  padding: 6px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: -150%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

* body .board .grid .row .picker div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

* body .board .grid .row .picker div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

* body .board .grid .inactive .slots > div, * body .board .grid .inactive button {
  cursor: not-allowed;
}

* body .board .grid .inactive .slots > div:hover, * body .board .grid .inactive button:hover {
  -webkit-transform: none;
          transform: none;
}

* body .board .modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

* body .board .modal .modal-inner {
  width: 400px;
  max-width: 80vw;
  padding: 40px;
  margin: 10px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

* body .board .modal .modal-inner h2 {
  font-size: 20px;
}

* body .board .modal .modal-inner .solution-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

* body .board .modal .modal-inner .solution-slots div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 3px;
  background: radial-gradient(circle at 10px 10px, rgba(255, 255, 255, 0.123), rgba(0, 0, 0, 0.123));
}

* body .board .modal .modal-inner button {
  padding: 2px 5px;
  border: 2px solid #666;
  border-radius: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */